body{
    background-color: rgba(238, 217, 189, 0.863);

}

.tituloPrincipal{
    font-family: cursive;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: rgb(187, 8, 8);

    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
}

.cabecalho{
    margin-top: 0 auto;
    width: 940px;
    position: relative;
    text-align: center;
    text-decoration: darkturquoise;  
}

nav li{
    display: inline-flex;
    padding: 0;
    position: center;  
}

.banner{  
    width: 500px;
    height: 150px;
    padding: 10px 20px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10%;
}

.conteudoPrincipal{
    background-color: rgba(250, 220, 210, 0.664);
    padding: center;
}

.tituloCentralizado{
    text-align: center;
    font-style: italic;
    font-family: monospace;
    font-size: 40px;
}

p{
    text-align: justify;
}

#missao{
    background-color: rgba(1, 3, 14, 0.623);
    border-radius: 5px;
    box-shadow: 1px 1px 15px #ebabbb;
    font-size: 30px;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    width: 50%; 
}

em strong{
    color: rgb(212, 206, 206);
}

.servicos{
    background-color: rgba(250, 220, 210, 0.664);
    padding: 10px;
}

.servicosCentralizado{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-right: 20px;
}

.item{
    font-size: 20px;
    font-style: italic;
}

.imagemServicos{
    width: 180px;
    height: 180px;
    object-fit: contain;
    object-position: 10% 10%;
}

.texto1{
    text-align: center;
    font-style: italic;
    font-family: monospace;
    font-size: 20px;
}

.texto2{
    text-align: center;
    font-style: italic;
    font-family: monospace;
    font-size: 20px;
}